.content
  = form_for @stock do |f|
    %fieldset
      .control-group.text-center
        = f.text_field :stock_symbol, :placeholder => "APPL, BBRY, etc", :class => "stock_input"
        = f.submit "Search", :class => "btn"
      %p.text-center.blurb Search for your favourite (or least favourite) stock and find out what you can buy with it!