body{
  background-image:url(image_path('random_grey_variations.png'));
  color:#FFF;
  height:100%;
  font-family: "avenir";
}
.logo {
  padding-left: 40px;
  padding-top: 20px;
  font-size: 5em;
  img {
    height: 100px;
  }
}
.alpha-div{
  width: 100%;
  height: 125px;
  background-color: rgba(0,0,0,.5)
}
a{
  text-decoration: none;
  color: #FFF;
  &:visited{
    text-decoration: none;
    color: #FFF;
  }
  &:hover{
    text-decoration: none;
    color:#4862FF;
  }
}
fieldset{
  padding-top: 10px;
  width:100%
}
.content{
  width: 75%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0,0,0,.25);
  margin-top: 50px;
  padding-top: 20px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
}
.btn{
  margin-bottom: 10px;
}
.blurb{
  padding-top: 20px;
  font-size:2em;
  line-height: 1.5em;
}
.item{
  width: 40%;
  height: 400px;
  background-color: rgba(0,0,0,.25);
}
.product{
  width: 40%;
  height: 400px;
  background-color: rgba(0,0,0,.25);
}
.winner{
  width: 40%;
  height: 50px;
  background-color: rgba(0,0,0,.25);
}
.no-alpha{
  background-color: rgba(0,0,0, 0);
}
.center{
  margin: 0 auto;
}
.radio {
  margin-bottom: 5px;
}